body{
    margin: 0;
    background-color: white;

}

.header {
    background-color:rgba(91, 192, 235, 1);
	height:136px;

    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 1rem;
}
.site-header-info {
	width:20rem;
	height:10rem;
	display: flex;
    align-items:center;
}
.site-logo {
    display: inline-block;
	width:10rem;
	background-size:cover;
}
.site-name{
	color:black;
	width:100px;
	height:36px;
	font-family:Inter;
	text-align:left;
	font-size:2.5rem;
	letter-spacing:0;
}
.navigation{

}
.nav-button {
	font-family:Inter;
	text-align:left;
	font-size:1.75rem;
	letter-spacing:0;
	padding: 2rem;
}
.user-icon{
    width:4rem;
    background-size:cover;
}

#add-activity-button {
    margin: 3rem;
	background-color:rgba(91.00000217556953, 192.00000375509262, 235.0000011920929, 1);
	width:15rem;
	padding: 1rem;
	border: none;
	color: white;
	font-size: 1.5rem;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.activity-row{
    display: flex;
    flex-direction: row;
}
.activity-item{
    display: flex;
    flex-direction: row;
    overflow: hidden;

    margin: 1rem;

    border: 2px solid black;
    border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.activity-info{
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}
.activity-img{
    width: 12rem;
}
.activity-highlight{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.activity-highlights{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.highlight-icon{
    width: 1.5rem;
}
.title {
	color:rgba(0, 0, 0, 1);
	padding: 1rem 0rem;
	font-family:Inter;
	text-align:center;
	font-size:3rem;
	letter-spacing:0;
}
#suggested-activities{
    display: flex;
    flex-direction: column;
    align-items:center;
}
#add-activity{
    width: 38rem;
    display: flex;
    flex-direction: column;
    align-items:center;
}
#first-column{
    padding: 3rem 0rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-right: 1px solid black;
}
#second-column{
    padding: 3rem 0rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
#content{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.input-field-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.half-input-field {
    background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	height:4rem;
	width: 49%;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	margin-bottom: 2rem;

	padding: 0.5rem 1rem;

	border: none;
	font-size: 1.5rem;
	font-family:Inter;
}
.input-field {
    width: 100%;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	height:4rem;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	margin-bottom: 2rem;

	padding: 0.5rem 1rem;

	border: none;
	font-size: 1.5rem;
	font-family:Inter;
}
.input-field::placeholder, .half-input-field::placeholder, .multiline-field::placeholder{
    color: #bababa;
}
.multiline-field {
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 100%;
	height: 8rem;

	border: none;
	font-size: 1.5rem;
	padding: 0.5rem 1rem;

	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
    font-family:Inter;
    color: black;
}
.activity-title {
	color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:left;
	font-size:1.5rem;
	letter-spacing:0;
}
.activity-description {
	color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:left;
	font-size:1rem;
	letter-spacing:0;
}
.activity-highlights{
    color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:left;
	font-size:1rem;
	letter-spacing:0;
}
.input-text {
    padding: 0.5rem;
	color:rgba(186.28062665462494, 186.28062665462494, 186.28062665462494, 1);
	width:99px;
	height:18px;
	font-family:Inter;
	text-align:left;
	font-size:1.5rem;
	letter-spacing:0;
}
.plus-button {
	color:rgba(0, 0, 0, 1);
	padding: 1rem;
    border: none;
    background: none;
	font-family:Inter;
	text-align:left;
	font-size:2rem;
	letter-spacing:0;
}

#trip-slider {
	background-color:rgba(217, 217, 217, 1);
	width: 36rem;
	height:6rem;
    border-radius:2.75rem;
	padding: 0;
	margin-bottom: 2rem;

}
.slider {
    display: inline-block;
	width:49%;
	margin: 0;
	height:100%;
	border-radius:2.75rem;
	border: none;
	background-color: transparent;
}
#selected-slider {
    display: inline-block;
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(57.00000040233135, 55.00000052154064, 91.00000217556953, 1);
}
.form-text {
	color:rgba(0, 0, 0, 1);
	width:153px;
	height:24px;
	font-family:Inter;
	text-align:left;
	font-size:1.5rem;
	letter-spacing:0;
	padding: 0.5rem;
}
.slider-selected-text {
	color:rgba(255, 255, 255, 1);
	width:107px;
	height:24px;
	font-family:Inter;
	text-align:left;
	font-size:1.75rem;
	letter-spacing:0;
}