body{
    margin: 0;
    background-color: white;

}


header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #5BC0EB;
	height: 6em;
	padding-right: 20px;
}

header ul {
	list-style: none;
	display: flex;
}

header ul li {
	margin: 0 4em;
}

header ul li a {
	text-decoration: none;
	color: #333;
}

.nav-link.active::before {
	content: ''; /* This is necessary for the pseudo-element to display */
	position: absolute; /* Position it relative to its parent */
	top: -2.5em; /* Align to the top of the link */
	left: 0; /* Align to the left of the link */
	right: 0; /* Align to the right of the link */
	height: 10px; /* The thickness of the white bar */
	background-color: white; /* The color of the bar */
	z-index: 10; /* Ensure it's above the link text */
}

/* To position the pseudo-element correctly, the parent element needs to be positioned relative */
.nav-link {
	position: relative; /* This is necessary for absolute positioning inside */
	display: inline-block; /* or block, depending on your layout */
}

.logo {
	width: 15em;
}


.profile-icon {
	width: 3em;
}

.site-logo {
    display: inline-block;
	width:10rem;
	background-size:cover;
}
.site-name{
	color:black;
	width:100px;
	height:36px;
	font-family:Inter;
	text-align:left;
	font-size:2.5rem;
	letter-spacing:0;
}
.navigation{

}
.nav-button {
	font-family:Inter;
	text-align:left;
	font-size:1.75rem;
	letter-spacing:0;
	padding: 2rem;
}
.user-icon{
    width:4rem;
    background-size:cover;
}
.blue-bg {
	background-color:rgba(91.00000217556953, 192.00000375509262, 235.0000011920929, 1);
	width:100%;
	height:45%;
	position:absolute;
	bottom:0px;
}
.trip-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centers form */

    padding: 4rem 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;

	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:40rem;
	height:47rem;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}

.form-date{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: span 2;
    justify-content: space-between;
    width: 100%;
}

.form-date span{
    width: 48%;
    text-align: center;
}


#trip-slider {
	background-color:rgba(217, 217, 217, 1);
	width: 100%;
	height:6rem;
    border-radius:2.75rem;
	padding: 0;
	margin-bottom: 2rem;

}
.slider {
    display: inline-block;
	width:49%;
	margin: 0;
	height:100%;
	border-radius:2.75rem;
	border: none;
	background-color: transparent;
}
#selected-slider {
    display: inline-block;
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(57.00000040233135, 55.00000052154064, 91.00000217556953, 1);
}
.form-text {
	color:rgba(0, 0, 0, 1);
	width:153px;
	height:24px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	padding: 0.5rem;
}
.slider-selected-text {
	color:rgba(255, 255, 255, 1);
	width:107px;
	height:24px;
	font-family:Inter;
	text-align:left;
	font-size:1.75rem;
	letter-spacing:0;
}
.date-input-field {
    background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 100%;
	height:4rem;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	margin-bottom: 2rem;
	border: none;
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
	font-family:Inter;
}

.input-field {
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 100%;
	height:4rem;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	margin-bottom: 2rem;

	padding: 0.5rem 1rem;

	border: none;
	font-size: 1.5rem;
	font-family:Inter;
}

.multiline-field {
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 100%;
	height: 8rem;

	border: none;
	font-size: 1.5rem;
	padding: 0.5rem 1rem;

	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
    font-family:Inter;
}