<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Trip Details - TripHarmony</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/tripDetails.css">

</head>
<!-- class="nav-link active" -->
<body>
    <header>
        <img class="logo" src="../static/images/logo.png" alt="Trip Harmony Logo">
        <ul>
            <li><a href="{{ url_for('tripDetails') }}" class="nav-link active">Trip Details</a></li>
            <li><a href="{{ url_for('chooseActivities') }}">Choose Activities</a></li>
            <li><a href="{{ url_for('voteItinerary') }}">Rank Activities</a></li>
            <li><a href="{{ url_for('viewItinerary') }}">View Itinerary</a></li>
            <li><a href="#budget">Trip Budget</a></li>
        </ul>
        <a href="{{ url_for('profilePage') }}">
            <img class="profile-icon" src="../static/images/profile.png" alt="profile">
        </a>
    </header>
    <div class="blue-bg"></div>
    <form class="trip-form">
        <div id="trip-slider">
            <button class="slider" id="selected-slider">
                <span class="slider-selected-text">Trip Details</span>
            </button>
            <button class="slider">
                <span class="form-text">Group Members</span>
            </button>
        </div>
        <div class="form-text">Trip Name: </div>
        <input class="input-field"></input>
        <span class="form-text">Location:</span>
        <input class="input-field"></input>
        <div class="form-date">
            <span>
                <span class="form-text">Start Date:</span>
                <input class="date-input-field"></input>
            </span>
            <span>
                <span class="form-text">End Date:</span>
                <input class="date-input-field"></input>
            </span>
        </div>
        <span class="form-text">Notes:</span>

        <textarea class="multiline-field"></textarea>
    </form>


</body>
</html>