<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Harmony - Rank Activities</title>
    <link rel="stylesheet" href="../static/css/viewItinerary.css">
</head>
<body>
<header>
    <img class="logo" src="../static/images/logo.png" alt="Trip Harmony Logo">
    <ul>
        <li><a href="{{ url_for('tripDetails') }}">Trip Details</a></li>
        <li><a href="{{ url_for('chooseActivities') }}">Choose Activities</a></li>
        <li><a href="{{ url_for('voteItinerary') }}" >Rank Activities</a></li>
        <li><a href="{{ url_for('viewItinerary') }}" class="nav-link active">View Itinerary</a></li>
        <li><a href="#budget">Trip Budget</a></li>
    </ul>
    <a href="{{ url_for('profilePage') }}">
        <img class="profile-icon" src="../static/images/profile.png" alt="profile">
    </a>
</header>

<div class="content-container">
    <section id="itenerary_section">
        <div id="itinerary_instructions">
            <h1>
                Itinerary
            </h1>
            <button>Click to Regenerate Itinerary</button>
            <p>Drag and drop activities to change your itinerary</p>
        </div>
        <div id="day_one">
            <br>
            <h2>Monday, December 18th</h2>
            <div class="itinerary_item"></div>
            <div class="itinerary_item"></div>
            <div class="itinerary_item"></div>
        </div>
        <div id="day_two">
            <br>
            <h2>Tuesday, December 19th</h2>
            <div class="itinerary_item"></div>
            <div class="itinerary_item"></div>
        </div>
    </section>
    <section id="rankings_section">
        <div class="tab-container">
            <div class="tab active">Group Rankings</div>
            <div class="tab">Activity Details</div>
        </div>
        <br>
        <br>
        <!-- Ranking items here -->
        <div id="all_rankings">
            <div class="ranked_activity">
                <div class="rank">
                    <h1>#1</h1>
                </div>
                <div class="short_description">
                    <h3>The Statue Of Liberty</h3>
                    <p>Here is a description of this...</p>
                    <ul class="activity_time_cost_score_details">
                        <li class="time_description">2 hours</li>
                        <li class="cost_description">$20</li>
                        <li class="score_description">Score: 100%</li>
                    </ul>
                </div>
                <div class="activity_image">
                    <!-- <img class="activty-image" src="statue.jpg" alt="profile"> -->
                </div>
            </div>
            <div class="ranked_activity">
                <div class="rank">
                    <h1>#1</h1>
                </div>
                <div class="short_description">
                    <h3>The Statue Of Liberty</h3>
                    <p>Here is a description of this...</p>
                    <ul class="activity_time_cost_score_details">
                        <li class="time_description">2 hours</li>
                        <li class="cost_description">$20</li>
                        <li class="score_description">Score: 100%</li>
                    </ul>
                </div>
                <div class="activity_image">
                    <!-- <img class="activty-image" src="statue.jpg" alt="profile"> -->
                </div>
            </div>
            <div class="ranked_activity">
                <div class="rank">
                    <h1>#1</h1>
                </div>
                <div class="short_description">
                    <h3>The Statue Of Liberty</h3>
                    <p>Here is a description of this...</p>
                    <ul class="activity_time_cost_score_details">
                        <li class="time_description">2 hours</li>
                        <li class="cost_description">$20</li>
                        <li class="score_description">Score: 100%</li>
                    </ul>
                </div>
                <div class="activity_image">
                    <!-- <img class="activty-image" src="statue.jpg" alt="profile"> -->
                </div>
            </div>
            <div class="ranked_activity">
                <div class="rank">
                    <h1>#1</h1>
                </div>
                <div class="short_description">
                    <h3>The Statue Of Liberty</h3>
                    <p>Here is a description of this...</p>
                    <ul class="activity_time_cost_score_details">
                        <li class="time_description">2 hours</li>
                        <li class="cost_description">$20</li>
                        <li class="score_description">Score: 100%</li>
                    </ul>
                </div>
                <div class="activity_image">
                    <!-- <img class="activty-image" src="statue.jpg" alt="profile"> -->
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>